@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
  background: #f4f7fb;
  color: #111827;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 999px;
}

.glass {
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(20px);
}

.card-hover {
  transition: 0.3s;
}

.card-hover:hover {
  transform: translateY(-4px);
}