@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  font-family: sans-serif;
}

html.dark body {
  background: #020617;
}

html:not(.dark) body {
  background: #f8fafc;
}
